<div class="container">
  <table class="table">
    <thead>
      <th>Request</th>
      <th>Response</th>
    </thead>
    <tbody>
      <tr *ngFor = "let data of allData">
        <td><audio controls>
            <source [src]="requestData(data)" type="audio/wav">
        </audio></td>
        <td><audio controls>
            <source [src]="responseData(data)" type="audio/wav">
        </audio></td>
      </tr>
    </tbody>
  </table>
</div>

<br>
  <br>
  <ul class="pagination">
    <li class="nav-item" *ngFor="let page of totalPages; let i=index">
      <a class="nav-link" href="" (click)="setPage(i,$event)" >{{ i }}</a>
    </li>
  </ul>

<div style="text-align:center">
  <a (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording" > Start Recording </a>
  <a (click)="stopRecording()" class="btn btn-danger" *ngIf="recording" > Stop Recording </a>
  <div class="clearfix"></div>
  <audio id="audio" controls style="display: none">No support of audio tag</audio>
  <audio id="audioResponse" style="display: none" controls autoplay>No support of audio tag</audio>

</div>